:root {
  --background: 234,224,224;
  /* --background:222,213,213; */
  --foreground: 33,33,33;
  --support_color:65,64,62;
  --font_color_main:234,224,224;
  --font_color_second:31,29,33;
}

html[data-theme="light"] {
  --background: 222,213,213;
  --foreground: 33,33,33;
  --support_color:204,197,197;
  --font_color_main:31,29,33;
  --font_color_second:234,224,224;
  --svg-dop-color:transparent;
  --svg-dop-color-2:#B6A858;
  color-scheme: light;
}

html[data-theme="dark"] {
  --background: 33,33,33;
  --foreground: 234,224,224;
  --support_color:65,64,62;
  --font_color_main:234,224,224;
  --font_color_second:31,29,33;
  --svg-dop-color:#622AC5;
  --svg-dop-color-2:#303030;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 33,33,33;
    --foreground: 234,224,224;
  }
}

html, body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  background: rgba(var(--background));
  color: rgba(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.3s ease, color 0.3s ease;
}
body{
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.container{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 38px;
}
/* .container .no-wrap{
  grid-auto-flow: row;
} */
 [data-theme] {
  overflow: visible !important;
}
.flex-trap{
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.backgroundBlocks{
  background: rgba(var(--support_color), 0.8);
  backdrop-filter: blur(15px);
}
.NoDes{
  display: none;
}
@media (max-width: 480px) {
  body{
    padding: 10px;
  }
  .flex-trap{
    gap: 20px;
  }
  .container{
    gap:20px;
  }
}