.OrderApplicationFormWp{
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(var(--support_color), 0.8);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    font-family: var(--font-manrope);
    color: var(--font_color_main);
    max-width: 750px;
    width: 100%;
    gap: 10px;
    transform: translate(10%,5%);
   
}
.OrderApplicationFormHeaing{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    margin-bottom: 23px;
    text-align: center;
}
.OrderApplicationFormInputText{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.OrderApplicationFormInputWp{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.OrderApplicationFormInput{
    box-sizing: border-box;
    background: rgba(var(--support_color),1);
    border: 1px solid rgba(var(--font_color_main));
    border-radius: 20px;
    min-height: 60px;
    padding: 5px 10px;
    font-size: 20px;
    box-sizing: border-box;
}
.OrderApplicationFormInputTextError{
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes AddOrderApplicationFormStatutBoxWp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.OrderApplicationFormStatutBoxWp{
    position: absolute;
    z-index: 4;
    width: 10%;
    height: auto;
    aspect-ratio: 1;
    top: 50%;
    background: rgba(var(--support_color));
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:AddOrderApplicationFormStatutBoxWp 1s ease-in-out normal ;
}
.OrderApplicationFormStatutBoxWpSvgSize{
    width: 50%;
    height: 50%;
}
@keyframes WaitSvgAnimation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.WaitSvgAnim{
    transform-origin: center;
    animation: WaitSvgAnimation 2s ease-in-out infinite;
}
#OrderApplicationFormBtnSubmit{
    max-width: 60%;
    align-self:center;
}
@media(max-width: 970px){
    .OrderApplicationFormWp{
        transform: translate(0, 0);
        max-width: 500px;
    }
    .OrderApplicationFormHeaing{
        font-size: 35px;
        line-height: 40px;
    }
    .OrderApplicationFormInputText{
        font-size: 18px;
    }
    .OrderApplicationFormInput{
        min-height: 54px;
    }
    /* .OrderApplicationFormHeaing{
        font-size: 30px;
        margin-bottom: 10px;
    } */
}
@media(max-width: 780px){
    .OrderApplicationFormHeaing{
        font-size: 40px;
        margin-bottom: 10px;
    }
}
@media(max-width: 480px){
    .OrderApplicationFormWp{
        transform: translate(0, 0);
        padding: 20px;
    }
    .OrderApplicationFormHeaing{
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    .OrderApplicationFormInputText{
        font-size: 16px;
    }
    .OrderApplicationFormInput{
        min-height: 45px;
        border-radius: 15px;
    }
    .ApplicationFormBlockWp{
        padding: 0;
    }
}

