/* Group 48096022 */
.HeaderWp{
    position: sticky;
    top: 30px;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 5;
    opacity: 1;
    transition: 300ms ease-in-out all;
    transform: translateY(0);
}
.HeaderWpHidden{
  transform: translateY(-100%);
  opacity: 0;
  transition: 300ms ease-in-out all;
}
.HeaderGroupLoginAndToogles{
    display: flex;
    gap: 42px;
    align-items: center;
}
.HeaderNavogationWp{
    position: relative;
    width: 100%;
    max-width: 820px;
    padding: 0 34px;
    background: var(--support_color);
    /* opacity: 0.8; */
    backdrop-filter: blur(1000px);
    height:100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font_color_main);

    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}
.HeaderButtonsWp{
    width: 100px;
    height: 100px;
    background: var(--support_color);
    /* opacity: 0.8; */
    backdrop-filter: blur(15px);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heaedrsTooglesWp{
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 10px;
}
.ThemeButtonWp{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background: var(--support_color);
    /* opacity: 0.8; */
    backdrop-filter: blur(15px);
    border-radius: 100px;
    border: none;
    cursor: pointer;

}
.ThemeButtonDarkSvg rect {
  fill: #622AC5;
}
.ThemeButtonDarkSvg path {

  fill: #303030;
}
.ThemeButtonLightSvg rect {
  fill: #303030;
}
.ThemeButtonLightSvg path {
  fill: #B6A858;
}
